<mat-grid-list cols="4" rowHeight="700px">
  <mat-grid-tile [colspan]="1">
    &nbsp;
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2">
    <mat-card>
      <mat-toolbar>Add a new Todo</mat-toolbar>
      <div class="example-container">
        <form class="example-container" [formGroup]="addTodoForm">
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [formControl]="addTodoForm.controls['name']" type="text" name="name">
              <mat-error *ngIf="addTodoForm.controls['name'].invalid">You must enter a value</mat-error>
            </mat-form-field>
          </div>
          <br>
          <div>
            <label>Complete: </label>
            <mat-radio-group class="example-radio-group" [formControl]="addTodoForm.controls['isDone']">
              <mat-radio-button class="example-radio-button" [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="false">
                No
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <br>
          <div>
            <label>Upload: </label>
            <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
          </div>
          <br>
          <div class="col-md-8">
            <h3>File Upload</h3>
            Queue length: {{ uploader?.queue?.length }}

            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue">
                  <td>
                    <strong>{{ item.file.name }}</strong>
                  </td>
                  <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                  <td>
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess">
                      <mat-icon>done</mat-icon>
                    </span>
                    <span *ngIf="item.isCancel">
                      <mat-icon>cancel</mat-icon>
                    </span>
                    <span *ngIf="item.isError">
                      <mat-icon>error</mat-icon>
                    </span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <div>
              Queue progress:
              <div class="progress" style="">
                <mat-progress-bar mode="determinate" value="{{uploader.progress}}"></mat-progress-bar>
              </div>
            </div>
          </div>
          <div class="form-buttons">
            <mat-grid-list cols="4">
              <mat-grid-tile [colspan]="2">
                <button color="accent" type="button" mat-raised-button (click)="onAdd(addTodoForm.value)" [disabled]="!addTodoForm.valid">Add</button>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <button type="button" mat-raised-button (click)="onClear()">Clear</button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </form>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    &nbsp;
  </mat-grid-tile>
</mat-grid-list>
