.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form>* {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.mat-form-field {
  width: 100%;
}

mat-grid-tile {
  /* background: lightblue; */
}

.mat-grid-tile .mat-figure {
  display: block !important;
}

.form-buttons {
  text-align: center;
}

.mat-card {
  background: rgba(0, 0, 0, .02);
}

.mat-toolbar {
  background: rgba(0, 0, 0, .04);
}

.mat-card-image {
  width: 100px !important;
}

.mat-list-item-content {
  margin-top: 15px !important;
}

.btn-delete {
  padding-left: 50px;
}
